doctype html
html(lang="en" ng-app='dave')
head
  meta(charset="UTF-8")
  title David D. Boling - Full Stack Developer
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="bower_components/fontawesome/css/font-awesome.css")
  link(rel="stylesheet", href="style.css")
  link(rel="stylesheet", href="mobile.css")
body
  .container-fluid.page-wrap(ng-view)

script(src='bower_components/angular/angular.js')
script(src='bower_components/angular-route/angular-route.min.js')

script(src='assets/js/app.js')

script(src='index.js')


