@media (max-width: 640px) {
  //NAVBAR
  .nav-static {
    display: none;
  }



  .slicknav_menu {
    z-index: 999;
    display: block;
    width: 100%;
    border-bottom: 1px solid white;
  }


  //HOME
  #home .promo_samples {
    font-size: 1.2em;
  } 

  //EXPERIENCE
  #experience {
    .icon {
      font-size: 1.3em;
    }

    .skillDescription {
      font-size: 1em;
    }
  }

  //PORTFOLIO
  #slider {
    font-size: 1em;
    width: 100%;

    .photo {
      height: 150px;
      margin-bottom: 5px;
    }

    .photo .photoItem {
      margin-right: 5px;
    }

    .sHeader1 {
      font-size: 1.4em;
    }

    .sHeader2 {
      font-size: 1em;
    }

    //PORTFOLIO
    .weblinks a {
      font-size: 1em;
      display: block;
      margin-left: 0px;
      padding: 5px;
    }

    .description {
      font-size: 1em;
    }

  } 


  //FOOTER
  #copyright {
    font-size: 1em;
  }

  #footer {
    height: 75px;
  }

  .container-fluid {
      margin: 0 auto -75px; /* the bottom margin is the negative value of the footer's height */

      &:after {
      height: 75px; 
    }
  }


  //CONTACT FORM
  .contactForms {
    width: 100%;
  }


}

//SPECIFICALLY FOR EXPERIENCE SECTION ONLY
@media (max-width: 840px) {
  #experience {
    height: 1150px; 
  }

  .nav-static a {
    padding: 15px 2px 15px 2px; 
  }
}

