//Nav 
.row-fluid.nav-static.fixed
  .col-xs-6
    .col-xs-3
      .middle: a(href='' ng-click='scrollTo("contact")') CONTACT
    .col-xs-3
      .middle: a(href='' ng-click='scrollTo("experience")') EXPERIENCE
    .col-xs-3
  .col-xs-6
    .col-xs-6
    .col-xs-3
      .middle: a(href='' ng-click='scrollTo("featured")') PORTFOLIO
    //.col-xs-3
      .middle: a(href='' ng-click='scrollTo("portfolio")') PORTFOLIO
    .col-xs-3
      .middle: a(href='http://daviddboling.wordpress.com/') BLOG
//Slick Nav
ul.navMenu.fixed
  li
    a(href='' ng-click='scrollTo("contact")') Contact
  li
    a(href='' ng-click='scrollTo("experience")') Experience
  li
    a(href='' ng-click='scrollTo("portfolio")') Portfolio
  li
    a(href='http://daviddboling.wordpress.com/') Blog