@media (max-width: 640px) {
  .nav-static {
    display: none;
  }
  .nav-mobile {
    display: block;
    font-size: 1.2em;
    text-align: center;
    height: 40px;
  }
  .nav-mobile a {
    color: white;
    margin: 0px 10px 0px 10px;
  }
  #home .promo_samples {
    font-size: 1.2em;
  }
  #experience .icon {
    font-size: 1.3em;
  }
  #experience .skillDescription {
    font-size: 1em;
  }
  #experience .bigSocial {
    margin: 0px 10px 0px 10px;
  }
  #experience .bigSocial i {
    font-size: 3em;
  }
  .featureOne,
  .featureTwo,
  .featureThree,
  .featureFour {
    height: 715px;
  }
  .featureOne .photo .photoItem,
  .featureTwo .photo .photoItem,
  .featureThree .photo .photoItem,
  .featureFour .photo .photoItem {
    height: 70px;
    width: 120px;
  }
  .featureOne .title,
  .featureTwo .title,
  .featureThree .title,
  .featureFour .title {
    text-align: center;
    font-size: 1.5em;
  }
  .featureOne .sHeader1,
  .featureTwo .sHeader1,
  .featureThree .sHeader1,
  .featureFour .sHeader1 {
    font-size: 1.2em;
  }
  .featureOne .weblinks a,
  .featureTwo .weblinks a,
  .featureThree .weblinks a,
  .featureFour .weblinks a {
    font-size: 1em;
    margin-left: 2px;
  }
  .featureOne .description,
  .featureTwo .description,
  .featureThree .description,
  .featureFour .description {
    font-size: 1.2em;
  }
  #copyright {
    font-size: 1em;
  }
  #footer {
    min-height: 100px;
  }
  /*
  .container-fluid {
      margin: 0 auto -75px; //the bottom margin is the negative value of the footer's height

      &:after {
      height: 75px;
    }
  }
*/
  .contactForms {
    width: 100%;
  }
}
@media (max-width: 960px) {
  .featureOne,
  .featureTwo,
  .featureThree {
    height: 715px;
  }
  .featureOne .photo .photoItem,
  .featureTwo .photo .photoItem,
  .featureThree .photo .photoItem {
    height: 70px;
    width: 120px;
  }
  .nav-static a {
    padding: 15px 2px 15px 2px;
  }
}
