@media (max-width: 640px) {
  .nav-static {
    display: none;
  }
  .slicknav_menu {
    z-index: 999;
    display: block;
    width: 100%;
    border-bottom: 1px solid white;
  }
  #home .promo_samples {
    font-size: 1.2em;
  }
  #experience .icon {
    font-size: 1.3em;
  }
  #experience .skillDescription {
    font-size: 1em;
  }
  .featureOne,
  .featureTwo,
  .featureThree {
    height: 715px;
  }
  .featureOne .photo .photoItem,
  .featureTwo .photo .photoItem,
  .featureThree .photo .photoItem {
    height: 70px;
    width: 120px;
  }
  .featureOne .title,
  .featureTwo .title,
  .featureThree .title {
    text-align: center;
    font-size: 1.5em;
  }
  .featureOne .sHeader1,
  .featureTwo .sHeader1,
  .featureThree .sHeader1 {
    font-size: 1.2em;
  }
  .featureOne .weblinks a,
  .featureTwo .weblinks a,
  .featureThree .weblinks a {
    font-size: 1em;
    margin-left: 2px;
  }
  .featureOne .description,
  .featureTwo .description,
  .featureThree .description {
    font-size: 1.2em;
  }
  #copyright {
    font-size: 1em;
  }
  #footer {
    height: 75px;
  }
  .container-fluid {
    margin: 0 auto -75px;
    /* the bottom margin is the negative value of the footer's height */
  }
  .container-fluid:after {
    height: 75px;
  }
  .contactForms {
    width: 100%;
  }
}
@media (max-width: 840px) {
  #experience {
    height: 1150px;
  }
  .featureOne,
  .featureTwo,
  .featureThree {
    height: 715px;
  }
  .featureOne .photo .photoItem,
  .featureTwo .photo .photoItem,
  .featureThree .photo .photoItem {
    height: 70px;
    width: 120px;
  }
  .nav-static a {
    padding: 15px 2px 15px 2px;
  }
}
