<!-- Nav --><div class="row-fluid nav-static fixed"><div class="col-xs-6"><p>David D. Boling</p></div><div class="col-xs-2"><a href="" ng-click="scrollTo(&quot;home&quot;)">Home</a></div><div class="col-xs-2"><a href="" ng-click="scrollTo(&quot;portfolio&quot;)">Portfolio</a></div><div class="col-xs-2"><a href="" ng-click="scrollTo(&quot;contact&quot;)">Contact</a></div></div><!--Slick Nav --><ul class="navMenu fixed"><li><a href="#home">Home</a></li><li><a href="#portfolio">Portfolfio</a></li><li><a href="#contact">Contact</a></li></ul><!--.navbar.navbar-default(role='navigation')
 .container#navigation
   .navbar-header
     button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
       span.sr-only Toggle navigation
       span.icon-bar
       span.icon-bar
       span.icon-bar
     .navbar-brand David D. Boling

   .collapse.navbar-collapse#bs-navbar-collapse
     ul.nav.navbar-nav.navbar-right
       li: a(href='/#/') Contact
       li: a(href='/#/portfolio') Portfolio
       li: a(href='/#/blog') Blog-->