//TeamStream
.featureFour#featured.row
  .col-xs-12.shroud(style='background-color: rgb(0, 0, 0, 0.7)')
    .description
      .sHeader1 TeamStream
      .weblinks 
          a(href='http://teamstream.daviddboling.com/#/' target='blank') Demo
          a(href="https://github.com/kadowki/teamstream" target='blank') Github 


      .title Capstone Project #2

      p By utilizing WebSockets, teamstream is a simplified stream and segment system that allows you and your team 
        | to collaborate in real time. From large scale to small scale, create as many streams or segments as needed. Once done, 
        | archive them to be viewed as a history or edit them as much as you like.

    .photo
      a(href='assets/images/teamstream/shot1.png' data-lightbox="image-13"): img.photoItem(src='assets/images/teamstream/shot1.png')
      a(href='assets/images/teamstream/shot2.png' data-lightbox="image-14"): img.photoItem(src='assets/images/teamstream/shot2.png')
      a(href='assets/images/teamstream/shot3.png' data-lightbox="image-15"): img.photoItem(src='assets/images/teamstream/shot3.png')


//Knipit
.featureOne.row
  .col-xs-12.shroud(style='background-color: rgba(0, 0, 0, 0.7)')
    .description
      .sHeader1 Knipit
      .weblinks 
          a(href='http://knipit.daviddboling.com' target='blank') Demo
          a(href="http://www.github.com/kadowki/knipit" target='blank') Github 


      .title Capstone Project #1

      p A no-nonense learning utility that encourages good form and gives the ability for others to challenge those with similar knowledge.
        | As a life-long learner, it is my belief that forming good study habits early will lead to a much deeper understanding of any subject. 
        | Knipit is an attempt to not only build upon already existing tools, but to also create challenges for students while
        | encrouaging good form at the same time. 
     

    .photo
      a(href='assets/images/knipit/s1.png' data-lightbox="image-1"): img.photoItem(src='assets/images/knipit/s1.png')
      a(href='assets/images/knipit/s2.png' data-lightbox="image-2"): img.photoItem(src='assets/images/knipit/s2.png')
      a(href='assets/images/knipit/s3.png' data-lightbox="image-3"): img.photoItem(src='assets/images/knipit/s3.png')
      a(href='assets/images/knipit/s4.png' data-lightbox="image-4"): img.photoItem(src='assets/images/knipit/s4.png')
      a(href='assets/images/knipit/s5.png' data-lightbox="image-5"): img.photoItem(src='assets/images/knipit/s5.png')

//Gravity Flip
.featureTwo.row

  .col-xs-12.shroud(style='background-color: rgba(0, 0, 0, 0.7)')
    .description
      .sHeader1 Gravity Flip
      .weblinks
          a(href="http://daviddboling.com/gravity-flip/public/index.html") Demo
          a(href="https://play.google.com/store/apps/details?id=daveboling.gravity.flip") Google Play 
          a(href="http://www.github.com/kadowki/gravity-flip") Github 

      p After a trip through the Milky Way, your crew is ready to return to Earth. However, a terrible storm of asteroids and debris block your path. During your trip, you notice that the inertia and gravitational pull are constantly reversing. Navigate your way through this anomaly so that you can tell Earth of your findings!
      
      p How to play:
      ol
        li Tap your finger on the screen where you want your ship to go.
        li Don't go off the screen or hit an piece of debris! If you do, your ship will be destroyed.
        li Have fun!

    .photo
      a(href='assets/images/gravity-flip/s1.png' data-lightbox="image-6"): img.photoItem(src='assets/images/gravity-flip/s1.png')
      a(href='assets/images/gravity-flip/s2.png' data-lightbox="image-7"): img.photoItem(src='assets/images/gravity-flip/s2.png')
 
//Hipsterbay
.featureThree.row

  .col-xs-12.shroud(style='background-color: rgba(0, 0, 0, 0.7)')
    .description
      .sHeader1 Hipsterbay
      .weblinks
          a(href="http://hipsterbay.daviddboling.com") Demo
          a(href="http://www.github.com/kadowki/hipsterbay") Github 


      p A modern bartering application built on NodeJS. Users can register accounts and search for auctions that are nearby or far away. Tired of that nasty rug from the 80s? Trade it in for a new used tire.Can't stand your roommates cat? Trade it for a ferret named Cthulhu. Is that old worn-out shoe losing it's new-factor? Plenty of new old-worn out shoes to trade! This is Hipsterbay.


    .photo
      a(href='assets/images/hipsterbay/1.png' data-lightbox="image-8"): img.photoItem(src='assets/images/hipsterbay/1.png')
      a(href='assets/images/hipsterbay/2.png' data-lightbox="image-9"): img.photoItem(src='assets/images/hipsterbay/2.png')
      a(href='assets/images/hipsterbay/3.png' data-lightbox="image-10"): img.photoItem(src='assets/images/hipsterbay/3.png')
      a(href='assets/images/hipsterbay/4.png' data-lightbox="image-11"): img.photoItem(src='assets/images/hipsterbay/4.png')
      a(href='assets/images/hipsterbay/5.png' data-lightbox="image-12"): img.photoItem(src='assets/images/hipsterbay/5.png')
