#home.row(name='home')
  .promo_samples
    | David D. Boling - Full Stack Developr? Just add water.
#portfolio.row(name='portfolio')
  .col-xs-12
    p.center-content Stuff           
#contact.row(name='contact')
  .col-sm-4
    h2.center-content 
    p.center-content
      | 
  .col-sm-4
    p.center-content
      | 'Home' link not working from here? Hmm, I wonder why? Check out the comments in build.js!
      br
      | Hint: It ain't the JavaScript. Try using Developer tools from here.
  .col-sm-4
include ../footer/footer.jade