#home.row(name='home')
  .promo_samples
    | David D. Boling - Full Stack Developr? Just add water.
#portfolio.row(name='portfolio')
  .col-xs-12
    p.center-content Stuff           
#contact.row(name='contact')
  .col-sm-12
    p.center-content Experience
include ../footer/footer.jade