//Top Home
#home.row(name='home')
  .promo_samples
    span.glow.bg David D. Boling
    br
    | Need a Full Stack Developer? Just ask.

//Portfolio
include portfolio.jade

//Experience
include experience.jade

//Contact
include contact.jade

//Footer
include ../footer/footer.jade
