#portfolio.row(name='portfolio')
  .col-xs-12
    //p.center-content Featured Projects
    #slider
      .s-content
        .title.sHeader1 Knipit - Know it? Prove it.
        .photo
          .photoItem(style='background-image: url("assets/images/knipit/s1.png")')
          .photoItem(style='background-image: url("assets/images/knipit/s2.png")')
        .description
          | Description

          | Know it. Prove it?

          | A no-nonense learning utility that encourages good form and gives the ability for others to challenge those with similar knowledge.
          | Don't know it? Knipit.
        .features
          .sHeader2 Features
          ul
            li Login and logout
            li String search
            li Search filters
            li Making of flashcard decks
            li Flipping flash cards
            li Test mode for flash cards
            li Challenge mode of flash cards
            li Edit/Delete/Create flash cards for each deck
            li Leaderboards for users participating in challenge mode
          .sHeader2 Built-on
          ul
            li MongoDB
            li Express
            li AngularJS
            li NodeJS

      .s-content 2
      .s-content 3