#portfolio.row(name='portfolio')
  .col-xs-12
    //p.center-content Featured Projects
    #slider
      .s-content
        .title.sHeader1 Knipit - Know it? Prove it.
        .photo
          .photoItem(style='background-image: url("assets/images/knipit/s1.png")')
          .photoItem(style='background-image: url("assets/images/knipit/s2.png")')
        .weblinks
          a(href='http://knipit.daviddboling.com') Live Demo
          a(href="http://www.github.com/kadowki/knipit") Github Repository
        .description
          .title Description

          p Know it. Prove it?

          p A no-nonense learning utility that encourages good form and gives the ability for others to challenge those with similar knowledge.
          | As a life-long learner, it is my belief that forming good study habits early will lead to a much deeper understanding of any subject. 
          | Knipit is an attempt to not only build upon already existing tools, but to also create challenges for students while
          | encrouaging good form at the same time. Knipit provides a chance for users to really prove
          | what they know and not only will that user prove it to someone else, but they will also prove it to themselves.
        .features
          .sHeader2 Features
          ul
            li Login and logout
            li String search
            li Search filters
            li Making of flashcard decks
            li Flipping flash cards
            li Test mode for flash cards
            li Challenge mode of flash cards
            li Edit/Delete/Create flash cards for each deck
            li Leaderboards for users participating in challenge mode
          .sHeader2 Built-on
          ul
            li MongoDB
            li Express
            li AngularJS
            li NodeJS

      .s-content
        .title.sHeader1 Gravity Flip
        .photo
          .photoItem(style='background-image: url("assets/images/gravity-flip/s1.png")')
          .photoItem(style='background-image: url("assets/images/gravity-flip/s2.png")')
        .weblinks
          a(href="http://daviddboling.com/gravity-flip/public/index.html") Web Demo
          a(href="https://play.google.com/store/apps/details?id=daveboling.gravity.flip") Google Play Store
          a(href="http://www.github.com/kadowki/gravity-flip") Github Repository
        .description
          .title Description

          p After a trip through the Milky Way, your crew is ready to return to Earth. However, a terrible storm of asteroids and debris block your path. During your trip, you notice that the inertia and gravitational pull are constantly reversing. Navigate your way through this anomaly so that you can tell Earth of your findings!
          
          p How to play:
          ol
            li Tap your finger on the screen where you want your ship to go.
            li Don't go off the screen or hit an piece of debris! If you do, your ship will be destroyed.
            li Have fun!
        
        .features
          .sHeader2 Built-on
          ul
            li PhaserJS
            li Ludei Cloud